# Core web + Azure
boto3==1.28.44
extra_streamlit_components==0.1.60
pymongo==4.5.0
python-dotenv==1.0.0
bcrypt==4.0.1
PyYAML==6.0.1
requests==2.31.0
streamlit==1.37.0
stripe==6.5.0
PyJWT==2.8.0
openai==1.55.3
openpyxl==3.1.2
httpx==0.27.2
joblib==1.4.2


# Core data/ML dependencies compatible with Python 3.9
numpy==1.23.5
scipy==1.10.1
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.2
seaborn==0.12.2

# LightFM
lightfm==1.17









